# Ignore absolutely everything by default
*

# Do not ignore the .gitignore file itself
!.gitignore

# Allow the odoo.conf file
!odoo.conf

# Allow the custom_addons folder and everything inside it
custom_addons/
custom_addons/**
!educational_erp/
!educational_erp/**