.o_portal_index_card {
    .o_portal_icon {
        img {
            max-width: 40px;
            max-height: 40px;
            width: auto;
            height: auto;
            object-fit: contain;
        }
    }
}
