.order-food{
    height:100vh;
    }
.split {
  height: 100%;
  position: absolute;
  z-index: 0;
  overflow-x: hidden;
  padding: 10px;
}

.left {
  left: 0;
  width: 70%;
}

.right {
//   display: none;
  right: 0;
  width: 30%;
}

#cart{
    height:80vh;
    overflow-y:scroll;
    }

.count-btn{
  margin-top: auto;
  background-color: rgb(22, 66, 105);
  padding: 10px 15px;
  border-radius: 1000px;
  font-size: 12px;
}
.buttonDiv{
  display: flex;
  justify-content: space-between;
}