
.row-product-brand {
  display: inline-block;
  background-color: lightgreen;
  border-radius: 15px;
  width: auto;
  height: auto;
  padding: 0.25em 0.5em;
  font-size: 13px;
  margin-left: 60%;
  //display: inline-block;
  //background: #CDCDCD;
  //padding: 0.25em 1em;
  //border-radius: 0.5em;
}