
.row-product-brand-2 {
  display: inline-block;
  background-color: lightgreen;
  border-radius: 15px;
  width: auto;
  height: auto;
  padding: 0.25em 0.5em;
  font-size: 13px;
  margin-left: 80%;
}