.container-fluid{
    display: flex;
  justify-content: center;
  align-items: center;
  width:70%;
}
.row{
    padding-top:10px;
    padding-bottom:10px;
}
th, td{
    padding: 10px;

}
input{
    border: 0px;
    width:100%;
}
.col.rt{
    display: flex;
  justify-content: center;
  align-items: center;
}
